body {
  font-family: "Raleway", sans-serif;
}

.navbar {
  font-weight: 100;
  z-index: 3;

  // navbar appears on top of header, taken out of flow
  position: absolute;
  right: 0;
  left: 0;
  top: 0;

  .navbar-brand > h3 {
    font-weight: 100;
  }

  .nav-item {
    font-size: 1.4rem;
  }

  .nav-link {
    border-bottom: 1px solid transparent;

    &:hover {
      transition: border 0.3s;
      border-bottom: 1px solid white;
    }
  }
}

#showcase {
  background: url("../images/main.jpeg") bottom center / cover no-repeat;
  min-height: 750px;
  position: relative;

  #header {
    z-index: 2;
  }

  h1 {
    font-family: "Questrial", sans-serif;
    line-height: 1;
  }

  // a dark filter div
  #overlay {
    background: rgba($color: #000000, $alpha: 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #book {
    font-size: 1.5rem;
    border-radius: 2rem;
  }
}

#quotes {
  i {
    opacity: 0.3;
  }
}

#footer {
  a {
    font-weight: 100;
  }
}

@media (max-width: 768px) {
  .navbar {
    // give a background to navbar on sm and xs screen
    background-color: #1f1f1f;

    // cancel hover style
    .nav-link {
      border-bottom: none;

      &:hover {
        border-bottom: none;
      }
    }
  }

  #showcase {
    min-height: 500px;

    h1 {
      font-size: 4rem;
    }
  }
}
